[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"

[packages]
click = "==8.1.7"
rich = "==13.7.0"
typer = "*"

[requires]
python_version = "3.13"
